#submit-btn {
    background-color: green;
}

#form-label {
    font-size: auto;
    color: white;
    font-family: inherit;
    margin-top: 15px;
    margin-bottom: 0px;
}

#form-input {
  font-size: auto;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}

#output {
    background-color: #2e9fb3;
    width: auto;
    height: auto;
    padding: 1vw;
    width: 100%;
    color: white;
}

.upload-box {
    width: 100%;
    padding: 2vw;
    margin: 2vw;
    height: fit-content;
    background-color: #80786c;
    display: flex;
    flex-direction: row;
    display: grid;
    place-items: center;
}

.form-container {
  width: auto;
  padding: 3vw;
  margin: auto;
  background: #ecebc9;
  height: fit-content;
  display: grid;
  place-items: center;
}

.form-field {
  margin: 0px 0 30px 0;
  padding: 15px;
  font-size: 16px;
  border-radius: 0.5vw;
  border: none;
  background-color: #ecebc9;
  font-family: inherit;
  color: #6d480d;
}

#submit-btn {
  background: #37b33b;
  color: white;
  cursor: pointer;
  margin: 1vw;
  border: 1px solid white;
}
#submit-btn:hover {
  background: #3c8940;
}

button:disabled {
  cursor: default;
}
  
.text {
    color: whitesmoke;
    font-size: auto;
}

#nutritional-label {
    padding: 1vw;
    font-family: inherit;
    background-color: #ecebc9;
    color:#6d480d; 
    font-weight: bold;
    font-size: inherit;
    border-radius: 0.5vw;
}

::-webkit-file-upload-button { 
    cursor:pointer; 
    padding: 0.75vw;
    font-family: inherit;
    background-color:#6d480d; 
    border: 1px solid rgb(35, 21, 1);
    border-radius: 0.5vw;  
}

#results-div {
    width: 100%;
    border: none;
}