
.header {
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    flex: 1; 
    margin: 0;
    width: 97vw;
    top: 0;
    z-index: 999;
    background-color: #C4DEA4;
    align-items: center;
}

.links {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
}

.links-icon { 
    font-size: 24px;
}

.mobilelinks { 
    display: none;
}

.weblinks {
    display: flex; 
}

.name {
    display: flex; 
    font-size: 36px; 
    color: #6d480d; 
    font-weight: 800;
}

@media only screen and (max-width: 720px) {
    .mobilelinks {
        display: flex;
    }
    .weblinks {
        display: none;
    }
    .name {
        font-size: 24px;
    }
}

.mobile {
    background-color: #c4dEa4;
    height: 100vh; 
    width: 100vw; 
    position: fixed;
    right: 0px;
    top: -6px;
    padding: 10px 12px;
    flex-direction: column;
}

.close {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.all-mobile-links {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.mobile-links {
    font-size: 24px;
    margin: 12px 0px; 
    display: flex
}

.mobile-links a {
    text-decoration: none;
    color: black;
    display: flex;
}

.web {
    display: flex;
    gap: 1em;
    align-items: center; 
}
.web-links {
    font-size: 18px;
    font-weight: 700; 
}

.web-links a {
    background-color: #387437;
    padding: 1vw;
    border-radius: 0.5vw;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid rgb(35, 21, 1);
    display: flex;
    align-items: center;
    transition: background-color 0.25s, border-color 0.25s;
}
.web-links a:hover {
    background-color: #034a09;
    border-color: whitesmoke;
    color: whitesmoke;
}
.web-links:last-child {
    margin-right: 0;
}
.links-icon {
    display: flex;
    align-items:center;
    margin: 4px;
}